body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #5d5c61;
}

header {
    background: #4b3c4b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}

.project {
    background: #b1a296;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: #b1a296;
}

button {
    background: #333;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive styles */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
    
    section {
        margin: 10px;
    }
}
